$font-family: 'Helvetica Neue', Helvetica, 'Open Sans', sans-serif;

$body-bg: #6c34b4;
$body-color: #4d4d4d;
$card-bg: #fff;
$card-target-bg: #f6f6f6;
$color: #7000ff;
$header-bg: #4e2187;
$list-bg: #e2e4e6;
$list-content-bg: #ecedee;
