<!DOCTYPE html>
<html>
<head>
  <title>Trellaw</title>
  <%= stylesheet_pack_tag 'trellaw' %>
  <%= javascript_pack_tag 'trellaw' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
